<div class=jumbotron>
 <div class=container>
 <h1>MEILLEUR FETE DU MONDE</h1>
 <img src="http://admin.traxmag.com//uploads/images/croped600x1200/2017/07/Jour_3_-_NS_Days_2_-_NS_2017_-_Nina_Kraviz_-_26_05_2017_BD%C2%A9b-rob.com-1_596e170e304ef.jpg" alt="" />
 </div>
</div>